*{
    font-family: 'Poppins_regular';
    line-height: 1;
}
body{
    background-color: var(--noir);
    padding: 0;
    margin: 0;
    color: var(--blanc);
}

/**slider mes projets**/

#slide-projet-spotify{background-color: var(--vert-clair);}
#slide-projet-2{background-color: var(--vert);}
#slide-projet-3{background-color: var(--vert-fonce);}
#slide-projet-4{background-color: var(--vert-clair);}
#slide-projet-5{background-color: var(--vert);}
#slide-projet-6{background-color: var(--vert-fonce);}

.slider {
  position: relative;
  margin: auto;
  border-radius: 30px;
  width: calc(100% - 60px);
  max-width: calc(var(--slide-width) * var(--slide-number));
  height: 700px;
  overflow: hidden;

  --slide-width: 1920px;
  --slide-number: 6;
  --slide-repeat: 2;
}

.slider:hover .animation {
  animation-play-state: paused;
}

.animation {
  display: flex;
  height: 100%;
  width: calc(var(--slide-width) * var(--slide-number) * var(--slide-repeat));
  animation: slide 40s linear infinite;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--slide-width);
  height: 100%;
  font-size: 20px;
}
  
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(
      calc(var(--slide-width) * var(--slide-number) * -1),
      0,
      0
    );
  }
}

/**contact**/
#global-contact{
  display: flex;
  width: calc(100% - 60px);
  margin: 50px auto;
  justify-content: space-between;
}
#contact-left, #contact-right{
  width: calc(50% - 15px);
}
#contact-left form{
  display: flex;
  flex-direction: column;
}
#contact-left form div{
  gap: 15px;
  margin: 15px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#contact-right{
  position: relative;
}
#contact-right iframe{
  transition: all .5s;
  width: 100%;
  position: absolute;
}
#contact-right iframe:hover{
  transform: translateX(-51%) scale(1.1);
  transition: all .5s;
  box-shadow: 1px 1px 8px 3px #8EB897;
}
