*{
    font-family: 'Poppins_regular';
    line-height: 1;
}
body{
    background-color: var(--noir);
    padding: 0;
    margin: 0;
    color: var(--blanc);
}

/**slider mes projets**/

#slide-projet-spotify{background-color: var(--vert-clair);}
#slide-projet-2{background-color: var(--vert);}
#slide-projet-3{background-color: var(--vert-fonce);}
#slide-projet-4{background-color: var(--vert-clair);}
#slide-projet-5{background-color: var(--vert);}
#slide-projet-6{background-color: var(--vert-fonce);}

.slider {
    position: relative;
    margin: auto;
    border-radius: 30px;
    width: calc(100% - 60px);
    max-width: calc(var(--slide-width) * var(--slide-number));
    height: 700px;
    overflow: hidden;
  
    --slide-width: 1920px;
    --slide-number: 6;
    --slide-repeat: 2;
  }
  
  .slider:hover .animation {
    animation-play-state: paused;
  }
  
  .animation {
    display: flex;
    height: 100%;
    width: calc(var(--slide-width) * var(--slide-number) * var(--slide-repeat));
    animation: slide 40s linear infinite;
  }
  
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--slide-width);
    height: 100%;
    font-size: 20px;
  }
  
  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(
        calc(var(--slide-width) * var(--slide-number) * -1),
        0,
        0
      );
    }
  }